* { 
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #1E90FF;
}

ul li {
    list-style: none;
}


body {
    background-image: url(./main_media/background_etoile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 270vh;
    width: 100%;
    overflow: hidden;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-left: 40px;
    font-family: "Notable";
    font-size: 48px;
    color: #1E90FF;
}

ul {
    display: flex;
}

.nav ul li{
    margin: 10px 80px 0px 0;
    list-style: none;
    font-size: 36px;
    letter-spacing: 5px;
    color: #1E90FF;
    text-transform: uppercase;
    font-family: "Jersey 25";
}

.nav li:hover {
    text-decoration: underline;
    text-decoration-color: white;
    text-decoration-thickness: 5px;
    
}

.burger {
    display: none;
}





.changementPlanet {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.planet {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.planet ul {
    overflow-y: hidden;
}

.planet ul li {
    margin: 0px 20px 0;
    color: white;
    font-size: 3em;
    font-family: "Jersey 25";
    overflow: hidden;
}

.planet ul li:nth-child(2n-1) {
    opacity: 38%;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    overflow: hidden;
}

h1 {
    padding-top: 100px;
    color: white;
    font-size: 6em;
    font-family: "Kumar One";
}

.Arrow {
    display: flex;
    justify-content: center;
}

.leftArrow p {
    margin-right: 100px;
    font-size: 200px;
    color: white;
    cursor: pointer;
}

.rightArrow p {
    margin-left: 100px;
    font-size: 200px;
    color: white;
    cursor: pointer;
}

.planetImg img {
    height: 800px;
    width: 800px;
    overflow: hidden;
    overflow-y: hidden;
}



/* HABITANTS */

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.description h2 {
    font-size: 6em;
    color: rgb(13, 186, 209);
}

.descriptionImage {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75%;
}

.descriptionImage p {
    width: 75%;
    font-size: 2.2em;
    color: white;
}

.descriptionImage img {
    margin-left: 100px;
    width: 400px;
    height: 600px;
}


.modeDeVie {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
}

.modeDeVie h3 {
    font-size: 5em;
    color: white;
}

.modeImg {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modeDeVie img{
    height: 600px;
    width: 400px;
    margin: 50px 100px;

}

.culture {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.culture h4 {
    font-size: 3em;
    color: white;
}

.societe {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.societe h4 {
    font-size: 3em;
    color: white;
}


.economie {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.economie h4 {
    font-size: 3em;
    color: white;
}


/* FAUNE */

.partieFaune {

}

.descriptionFaune {

}

.descriptionFauneMessage {

}

.descriptionFauneImage {

}



/* FLAURE */



.partieFlaure {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.descriptionFlaure {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.descriptionFlaure h2{
    color: white;
    font-size: 4em;
}

.descriptionFlaureMessage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.descriptionFlaureMessage p{
    width: 50%;
    color: white;
    font-size: 2em;
}

.descriptionFlaureImage {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}

.imageFlaurePart1, .imageFlaurePart2 {
    margin-top: 170px;
}

.descriptionFlaureImage img{
    width: 600px;
    height: 500px;
    margin: 0 30px;
}


/* FOOTER */

footer {
    margin-top: 150px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footerLeft {
    display: flex;
    align-items: center;
}

.footerLeft img {
    width: 200px;
    margin-left: 1em;
}

.footerLeft h6 {
    font-size: 2em;
    color: white;
}


.footerRight li{
    margin-left: 40px;
    margin-right: 1em;
    margin: 0 1em;
    font-size: 2em;
    color: white;
}


@media screen and (max-width:1100px) {
    .nav ul{
        display: none;
    }

.burger {
    margin-right: 40px;
    display: block;
}

    #burger1, #burger2, #burger3 {
        width: 30px;
        height: 5px;
        margin: 5px;
        transition: 0.6s;
        background-color: rgb(17, 148, 205);
    }
}